*.bin
*.su
*.rsf
*.vites
*.segy
*.sgy
*.zip
*.o
*.exe
*.a
*.so

*.txt
*.sw*
*~

*.pdf
*.eps
*.ps
*.jpeg
*.jpg
*.png
*.gif
*.tiff
*.bmp

octave-workspace
*.fuse*

*.dir
*.mod
*.nvvp
*.nvprof

*.zfp
*.zfpp

*.out
*.err

